.wrper {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: #fff;
    background-color: #003173;
    position: sticky !important;
    position: -webkit-sticky;
    top: -58px !important;

}

.selectWrp {
    display: flex;
    gap: 20px;
    width: 100% !important;
    align-items: center;
    justify-content: flex-start;
    height: fit-content !important;

}






.brandWrp {
    display: flex;
    align-items: center;
    height: 100% !important;
    margin-top: 10px;
    justify-content: space-between;
}

.brandWrp>h2 {
    padding: 10px 0;
}

.searchBtn {
    padding: 12px 15px;
    border-radius: 5px;
    background: #fff;
    background: yellow;
    color: black;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width:1024px) {
    .selectWrp {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 20px;

    }

    .wrper {
        height: 200px;
    }


}

@media (max-width:768px) {
    .selectWrp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
    }

    .wrper {
        height: 280px;
    }


}